
doctype html

block variables
	- let base = ".."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome mocksite

	script(defer type="importmap-shim" src=`${base}/importmap.json`)
	script(async defer type="module-shim" src=`${base}/xiome.js`)
	script(async defer src=`${base}/../node_modules/es-module-shims/dist/es-module-shims.js`)

	//- xiome-config(mock="app")

	xiome-config(
		app="0d57ce040345c15f63c2403da6013055051db08597db30d95a95c71d39c725dd"
		api="http://localhost:4999"
		platform="http://localhost:5000/x"
	)

	style.
		* {
			margin: 0;
			padding: 0;
		}
		html, body {
			background: #333;
			color: #999;
		}
		body {
			padding: 1em;
		}
		xiome-login-panel > section {
			margin-top: 1.5em;
		}
		h1, h2 {
			opacity: 0.4;
		}
		h1 {
			font-size: 4em;
		}
		h2 {
			font-size: 3em;
		}

h1 mock site
xiome-login-panel(show-logout)

	section
		h2 avatars
		<xio-avatar></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.0}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.1}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.2}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.3}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.4}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.5}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.6}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.8}'></xio-avatar>
		<xio-avatar spec='{"type": "simple", "value": 0.9}'></xio-avatar>

	section
		h2 manage users
		xiome-manage-users

	section
		h2 questions
		xiome-questions

	section
		h2 permissions
		xiome-permissions

	section
		h2 ecommerce settings
		xiome-ecommerce
	
	section
		h2 subscription plans
		xiome-subscription-planner

	section
		h2 your account
		xiome-my-account
