
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome mocksite

	script(defer type="importmap-shim" src=`${base}/../importmap.json`)
	script(async defer type="module-shim" src=`${base}/../xiome.js`)
	script(async defer src="https://unpkg.com/es-module-shims@0.9.0/dist/es-module-shims.js")

	xiome-config(
		app="2347c52b845b3efe09adf586a60fc3521856c80c5c8273e3575dcb356dbdea45"
		api="http://localhost:4999"
		platform="http://localhost:5000/x"
	)

	style.
		html, body {
			background: #333;
			color: #999;
		}

h1 mock site
xiome-login-panel(show-logout)
	section.permissions
		h2 permissions
		xiome-permissions
	xiome-my-account
		h3 your account
