
doctype html

block append variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title &#x1F404; feature.farm#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)
	script(src=`${base}/demo.bundle.js`)

header.siteheader
	div
		h1 &#x1F404; feature.farm
		nav
			a(href=`${base}/`) about
			a(href=`${base}/apps`) apps
			a(href=`${base}/catalog`) catalog

main
	block maincontent

footer.sitefooter
	p footer stuff
