
doctype html

block variables
	- let base = ".."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome mocksite

	if mode === "mock"
		xiome-mock(mode="app")
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(defer type="module-shim" src=`${base}/xiome-mock.js`)
		script(defer type="module-shim" src=`${base}/features/xio-components/playground.js`)
		script(defer src=`${base}/../node_modules/es-module-shims/dist/es-module-shims.js`)

	else if mode === "local"
		xiome-config(
			app="4dfc8a5dd1f52a487a0c3a0d848ea8d31ca0d1cd344c31688312ae6c3728ed42"
			platform="http://localhost:5000"
			api="http://localhost:8000"
		)
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(defer type="module-shim" src=`${base}/xiome.js`)
		script(defer type="module-shim" src=`${base}/features/xio-components/playground.js`)
		script(defer src=`${base}/../node_modules/es-module-shims/dist/es-module-shims.js`)

	style.
		* {
			margin: 0;
			padding: 0;
		}
		html, body {
			color: #999;
			background: #333;
		}
		body {
			padding: 1em;
		}
		[initially-hidden] {
			display: none;
		}
		h1, h2 {
			opacity: 0.4;
		}
		h1 {
			font-size: 4em;
		}
		h2 {
			font-size: 3em;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}

	block head

main
	h1 mock site
	block main
