
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome.io#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)

	if debug
		xiome-config(mock="platform")
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(async defer type="module-shim" src=`${base}/xiome.js`)
		script(async defer src="https://unpkg.com/es-module-shims@0.9.0/dist/es-module-shims.js")
	else
		xiome-config
		script(src=`${base}/xiome.bundle.min.js`)

header(data-page-subtitle=(pageSubtitle || "home")).siteheader
	div
		h1 Xiome
		nav
			a(href=`${base}/`) learn
			a(href=`${base}/apps`) apps
			a(href=`${base}/components`) components
	menu-system(sticky initially-hidden)
		menu-display(data-label="account")
			p(slot="button") avatar
			xiome-login-panel(show-logout)

main
	block maincontent

footer.sitefooter
	p #[a(data-external href="mailto:hello@xiome.io") hello@xiome.io] #[span send us an email]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on github] #[span collaborate with developers]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on discord] #[span chat with us, we're here to help!]
