
doctype html

block variables
	- let base = "."
	- let pageSubtitle
	- let pageName

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="darkreader" content="dark")
	title xiome.io#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)
	link(rel="icon" type="image/png" href=`${base}/favicon.png`)

	if mode === "mock"
		xiome-mock(mode="platform")
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(defer type="module-shim" src=`${base}/xiome-mock.js`)
		script(defer src=`${base}/../node_modules/es-module-shims/dist/es-module-shims.js`)

	else if mode === "local"
		xiome-config(
			app="77772a748c61250b85b84b6fcee3d2c5f9b3b62afa29adf1afbcfe73c0a7217f"
			platform="http://localhost:8080"
			api-server="http://localhost:8000/"
			chat-server="ws://localhost:8001/"
		)
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(defer type="module-shim" src=`${base}/xiome.js`)
		script(defer src=`${base}/../node_modules/es-module-shims/dist/es-module-shims.js`)

	else
		script.
			const config = document.createElement("xiome-config")
			config.setAttribute("app", "77772a748c61250b85b84b6fcee3d2c5f9b3b62afa29adf1afbcfe73c0a7217f")
			switch (window.location.hostname) {
				case "xiome.io": {
					config.setAttribute("platform", `https://xiome.io`)
					break
				}
				case "stage.xiome.io": {
					config.setAttribute("platform", `https://stage.xiome.io`)
					document.documentElement.className += " stage"
					break
				}
				case "localhost": {
					config.setAttribute("platform", `http://localhost:8080`)
					config.setAttribute("api-server", `http://localhost:8000/`)
					config.setAttribute("chat-server", `ws://localhost:8001/`)
					break
				}
				default: {
					throw new Error("unknown xiome hostname")
				}
			}
			document.head.appendChild(config)
		script(defer src=`${base}/xiome.bundle.min.js`)

	block head

.stageplate
	p.angry oops!
	p you've wandered onto our developer testing stage!
	p it looks like the real thing, but it's a sham!
	br
	p go back to the real #[a(href="https://xiome.io/") xiome.io]

body(data-page=pageName)
	header(data-page-subtitle=(pageSubtitle || "home")).siteheader
		div
			h1
				span.title Xiome
				span.prerelease
					span.prerelease-tag alpha
					span.prerelease-note for experimentation only
			nav
				a(href=`${base}/`) learn
				a(href=`${base}/setup`) setup
				a(href=`${base}/components`) components
		xio-menu(sticky initially-hidden)
			xio-menu-item(data-label="lol")
				p lol
				div(slot="panel")
					p rofl
					button lmao
			xio-menu-item(data-label="nightlight")
				xio-nightlight
			xio-menu-item(data-label="account")
				xiome-my-avatar
				xiome-login-panel(slot="panel" show-logout)
					xiome-my-account
						h3 your account

	main
		block maincontent

	footer.sitefooter
		p #[a(target="_blank" href="mailto:hello@xiome.io") hello@xiome.io] #[span —] send us an email
		p #[a(target="_blank" href="https://github.com/chase-moskal/xiome#readme") xiome on github] #[span —] collaborate with developers
		p #[a(target="_blank" href="https://discord.gg/rcfSjwGFYn") xiome on discord] #[span —] chat with us, we're here to help!
		br
		small
			p #[a(target="_blank" href=`${base}/legal`) policies and terms of service]
