
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome.io#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)

	if debug
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(async defer type="module-shim" src=`${base}/xiome.js`)
		script(async defer src="https://unpkg.com/es-module-shims@0.9.0/dist/es-module-shims.js")
	else
		script(src=`${base}/xiome.bundle.min.js`)

	xiome-config(token="eyJhbGciOm51bGwsInR5cCI6IkpXVCJ9.eyJwYXlsb2FkIjp7InBsYXRmb3JtIjp0cnVlLCJhcHBJZCI6IjQwMjIwOGE2ZDMyOTVhYWQyMzVjNjhjYjIwYTM1YzMwZTgzNTM0NGJiYzQwZmIzOTg3NDRjNTkzYjZhZWEwNzYiLCJvcmlnaW5zIjpbImh0dHA6Ly9sb2NhbGhvc3Q6NTAwMCJdfSwiaWF0IjoxNjEyNDgzMTAzLjU4NSwiZXhwIjoxNjQ0MDE5MTAzLjU4NX0=.ImZha2UtbW9jay10b2tlbi1zaWduYXR1cmUi")

header(data-page-subtitle=(pageSubtitle || "home")).siteheader
	div
		h1 Xiome
		nav
			a(href=`${base}/`) learn
			a(href=`${base}/apps`) apps
			a(href=`${base}/components`) components
	menu-system(sticky initially-hidden)
		menu-display(data-label="account")
			p(slot="button") avatar
			xiome-login-panel(show-logout)

main
	block maincontent

footer.sitefooter
	p #[a(href="mailto:hello@xiome.io") » hello@xiome.io]
	p #[a(href="https://github.com/chase-moskal/xiome#readme") » xiome on github]
	p #[a(href="https://github.com/chase-moskal/xiome#readme") » xiome on discord]
