
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome.io#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)
	link(rel="icon" type="image/png" href=`${base}/favicon.png`)

	if debug
		xiome-config(mock="platform")
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(async defer type="module-shim" src=`${base}/toolbox/mobx-necessary-hack.js`)
		script(async defer type="module-shim" src=`${base}/xiome.js`)
		script(async defer src="https://unpkg.com/es-module-shims@0.11.1/dist/es-module-shims.js")
	else
		script.
			const config = document.createElement("xiome-config")
			config.setAttribute("app", "7nsgfgbP8PqcgNYk9hYxWdDcznTxndqpBG7WJDD9rpyCXHJg")
			switch (window.location.hostname) {
				case "xiome.io": {
					config.setAttribute("platform", `https://xiome.io`)
					config.setAttribute("api", `https://api.xiome.io`)
					break
				}
				case "stage.xiome.io": {
					config.setAttribute("platform", `https://stage.xiome.io`)
					config.setAttribute("api", `https://api.stage.xiome.io`)
					document.documentElement.className += " stage"
					break
				}
				case "localhost": {
					config.setAttribute("platform", `http://localhost:5000`)
					config.setAttribute("api", `http://localhost:8000`)
					break
				}
				default: {
					throw new Error("unknown xiome hostname")
				}
			}
			document.head.appendChild(config)
		script(async defer src=`${base}/xiome.bundle.min.js`)

	block head

.stageplate
	p.angry oops!
	p you've wandered onto our developer testing stage!
	p it looks like the real thing, but it's a sham!
	br
	p go back to the real #[a(href="https://xiome.io/") xiome.io]

header(data-page-subtitle=(pageSubtitle || "home")).siteheader
	div
		h1
			span.title Xiome
			span.prerelease
				span.prerelease-tag alpha
				span.prerelease-note for experimentation only
		nav
			a(href=`${base}/`) learn
			a(href=`${base}/setup`) setup
			a(href=`${base}/components`) components
	menu-system(sticky initially-hidden)
		menu-display(data-label="account")
			xiome-my-avatar(slot="button")
			xiome-login-panel(show-logout)
				xiome-my-account
					h3 your account

main
	//- p.content.prerelease-notice xiome is new, and experimental — we might wipe data soon!
	block maincontent

footer.sitefooter
	p #[a(data-external href="mailto:hello@xiome.io") hello@xiome.io] #[span send us an email]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on github] #[span collaborate with developers]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on discord] #[span chat with us, we're here to help!]
