
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome.io#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)
	link(rel="icon" type="image/png" href=`${base}/favicon.png`)

	if debug
		xiome-config(mock="platform")
		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(async defer type="module-shim" src=`${base}/toolbox/mobx-necessary-hack.js`)
		script(async defer type="module-shim" src=`${base}/xiome.js`)
		script(async defer src="https://unpkg.com/es-module-shims@0.11.1/dist/es-module-shims.js")
	else
		script.
			const config = document.createElement("xiome-config")
			config.setAttribute("app", "7nsgfgbP8PqcgNYk9hYxWdDcznTxndqpBG7WJDD9rpyCXHJg")
			config.setAttribute("platform", window.location.href)
			config.setAttribute("api", `https://server.${window.location.host}`)
			document.head.appendChild(config)
		script(async defer src=`${base}/xiome.bundle.min.js`)

	block head

header(data-page-subtitle=(pageSubtitle || "home")).siteheader
	div
		h1
			span Xiome
			span.prerelease alpha
		nav
			a(href=`${base}/`) learn
			a(href=`${base}/setup`) setup
			a(href=`${base}/components`) components
	menu-system(sticky initially-hidden)
		menu-display(data-label="account")
			xiome-my-avatar(slot="button")
			xiome-login-panel(show-logout)
				xiome-my-account
					h3 your account

main
	p.content.prerelease-notice #[span.prerelease alpha] prerelease warning: #[strong we wipe all data regularly,] and some features are missing. right now, xiome is only suitable for experimentation and feedback
	block maincontent

footer.sitefooter
	p #[a(data-external href="mailto:hello@xiome.io") hello@xiome.io] #[span send us an email]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on github] #[span collaborate with developers]
	p #[a(data-external href="https://github.com/chase-moskal/xiome#readme") xiome on discord] #[span chat with us, we're here to help!]
