
doctype html

block append variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title &#x1F404; feature.farm#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href=`${base}/styles.css`)

	if debug
		script(async type="module-shim" src=`${base}/demo.js`)
		script(async type="importmap-shim" src=`${base}/importmap.json`)
		script(async defer src="https://unpkg.com/es-module-shims@0.6.0/dist/es-module-shims.js")
	else
		script(src=`${base}/demo.bundle.js`)

header.siteheader
	div
		h1 &#x1F404; feature.farm
		nav
			a(href=`${base}/`) about
			a(href=`${base}/apps`) apps
			a(href=`${base}/catalog`) catalog

main
	block maincontent

footer.sitefooter
	p footer stuff
